@font-face {
    font-family: Vogue;
    src: url(Vogue.ttf);
 }

* {
    font-family: Vogue;
}
.cabecalho{
    color: goldenrod;
    background-color: black;
    grid-area: cabecalho;
    padding-left: 10px;
}
h1{
    margin-block-end: 0pt;
}
.navbar{
    display: flex;
    background-color: black;
    grid-area: menu;
    padding-left: 10px;
    margin-bottom: 5px;
}

.navbaritem{
    border: 2px solid goldenrod;
    color: white;
    margin-right: 10px;
    padding: 5px;
}

.conteudo{
    background-color: lightslategray;
    grid-area: central;
}
.conteudoitem{
    background-color: black;
    color: white;
    
    padding-right: 20%;
    padding-left: 20%;
    text-align: justify;
    margin-bottom: 5px;
}
.container{
    display: grid;
    grid-template-columns: 20% 60 20%;
    grid-template-rows: 10% 5% 85%;
    grid-template-areas: 
    ""
    ;
}